template/**/build/
template/*.pbxuser
template/!default.pbxuser
template/*.mode1v3
template/!default.mode1v3
template/*.mode2v3
template/!default.mode2v3
template/*.perspectivev3
template/!default.perspectivev3
template/xcuserdata
template/*.xccheckout
template/*.moved-aside
template/DerivedData
template/*.hmap
template/*.ipa
template/*.xcuserstate
template/ios/.xcode.env.local

template/ios/Pods/
template/node_modules/
template/vendor/bundle/
template/ios/build/

template/npm-debug.log
template/yarn-error.log

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

template/android/build/
template/.idea
template/.gradle
template/local.properties
template/*.iml
template/*.hprof
template/.cxx/
template/yarn.lock/
template/ios/Pods.lock/